
<ion-content class=" has-subheader" >
  <form name="myform" ng-submit="addmember()">
    <div class="list list-inset has-subheader">
      <label class="item item-input">
        <input type="text" placeholder="First Name" ng-model = "mem.fname">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Last Name" ng-model = "mem.lname">
      </label>
      <label class="item item-input">
        <input type="tel" placeholder="Phone Number" ng-model = "mem.phone">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Address" ng-model = "mem.address">
      </label>
      <button type="submit" class=" btn button button-block button-calm">Submit</button>
    </div>
  </form>
</ion-content>