
<ion-content class=" has-subheader" >
  <form name="myform" ng-submit="addtithe()" novalidate>
    <div class="list list-inset has-subheader">
      <label class="item item-input item-select">
        <div class="input-label">
          Member
        </div>
        <select ng-model="tithe.selectedmember" ng-options="member.name for member in members">
        </select>
      </label>
      {{members}}
      <label class="item item-input">
        <input type="number" placeholder="Amount" ng-model = "tithe.amount">
      </label>
      <label class="item item-input">
        <input type="date" placeholder="Last Name" ng-model = "tithe.date">
      </label>
      <button type="submit" class=" btn button button-block button-calm">Submit</button>
    </div>
  </form>
</ion-content>